doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Vercel + GitHub + Auth0 = ❤️
    link(rel='icon', href='/favicon.png')
    link(rel='preload', as='font', type='font/woff2', crossorigin, href='https://cdn.auth0.com/styleguide/core/2.0.1/fonts/fakt/FaktPro-Normal.woff2')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include header.pug
    block content
